<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.smart.editor.Car"
                       value="com.smart.editor.CustomCarEditor"/>
            </map>
        </property>
    </bean>

    <bean id="boss" class="com.smart.editor.Boss">
        <property name="name" value="John"/>
        <property name="car" value="红旗CA72,200,20000.00"/>
    </bean>

</beans>
