<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!--①从类路径下加载Spring配置文件，classpath关键字特指类路径下加载-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml
		</param-value>
	</context-param>
	<!--②负责启动Spring容器的监听器，它将引用①处的上下文参数获得Spring配置文件地址-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- ①Spring MVC的主控Servlet -->
	<servlet>
		<servlet-name>smart</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!--② Spring MVC处理的URL -->
	<servlet-mapping>
		<servlet-name>smart</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

</web-app>
